#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #009 0%, #1E9FFF 100%);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.filter {
    background: #009;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;
    z-index: -2;
}

@keyframes colorChange {
    0%, 100% {
        opacity: .2;
    }
    50% {
        opacity: .7;
    }
}

body {
    text-align: center;
}

.chapter-top {
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 15px;
    display: flex;
}

.chapter-top-left {
    width: 30%;
    text-align: center;
    background: #c4e3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter-top-center {
    width: 40%;
    height: 100%;
    background: #7abaff;
}

.chapter-top-right {
    width: 30%;
    height: 100%;
    background: #005cbf;
}
.course-comment {
    text-align: left;
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 200px;
    background: rgba(255, 255, 255, 0.5);
    padding: 60px;
    border-radius: 15px;
}