.top-head {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #009 0%, #1E9FFF 100%);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.filter {
    background: #009;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;
    z-index: -2;
}

.logo {
    margin: 0;
    float: left;
    height: 60px;
    cursor: pointer;
}

.logo img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: -3px;
}

.name {
    height: 60px;
    weight: 100px;
    margin-left: 10px;
    padding: 0;
    font-size: 1.5em;
    font-family: Georgia;
    font-style: oblique;
    color: #1a75ff;
}

@keyframes colorChange {
    0%, 100% {
        opacity: .2;
    }
    50% {
        opacity: .7;
    }
}

.top {
    opacity: 0.8;
    width: 100%;
    float: left;
    height: 60px;
    border-radius: 10px;
    background-color: #f3f5f7;
    line-height: 60px;
    margin-top: 20px;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.top_l {
    padding-left: 20px;
    float: left;
    width: 30%;
}

.top_m {
    float: left;
    width: 50%;
    height: 60px;
    position: relative;
}

.top_m ul {
    height: 60px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.top_m li {
    width: 15%;
    float: left;
    margin: 0 3%;
    cursor: pointer;
    font-size: 20px;
}
li a p {
    width: auto;
    height: 60px;
    padding: 0 auto;
    color: black;
    line-height: 60px;
    text-align: center;
}

.top_r {
    float: left;
    width: 20%;
    padding-right: 20px;
}

.topuser {
    height: 60px;
    width: 100%;
}

.user {
    font-size: 15px;
    left: -60px;
    margin-right: 20px;
    width: 100px;
    cursor: pointer;
    height: 60px;
    margin: 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userpic {
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 7px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.menu {
    float: right;
    width: 120px;
    height: 300px;
}

#user-menu {
    display: none;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(243, 245, 247, 0.8), rgba(243, 245, 247, 1));
    left: 78%;
    top: 80px;
    border-top: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 0 0 10px 10px;
    width: 150px;
    z-index: 99;
    opacity: 1;
    text-align: center;
    list-style: none;
}

#user-menu li {
    cursor: pointer;
    margin: 0;
    height: 40px;
    line-height: 40px;
}

.selected {
    background-color: #1E9FFF;
    color: #ffffff;
}

.selected a p {
    color: #ffffff;
}

.unselected {
    color: #000000;
}

body, p, ul, ol, li, img, div, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Microsoft Yahei, "宋体", Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    text-align: center;
}


@media (min-width: 768px) {
    .top-head {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .top-head {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .top-head {
        max-width: 1170px;
    }
}


a:hover {
    text-decoration: none;
}

.list {
    color: #000000;
    position: relative;
    letter-spacing: 0;
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

.list a {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.list li {
    float: left;
    margin-left: 35px;
    margin-top: -1px;
}

.band {
    background-color: white;
    border: 1px solid lightblue;
    opacity: 0.5;
    border-radius: 10px;
    line-height: 40px;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    font-size: 15px;
}

.band li {
    cursor: pointer;
}

.btnd {
    margin-top: -5px;
    margin-right: 30px;
}

.head-pic {
    border-radius: 50%;
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.head-pic img {
    width: 100%;
    margin-top: -23px;
    padding: 0px;
}

.tie {
    margin-top: 20px;
    background-color: white;
    border: 1px solid lightblue;
    opacity: 0.5;
    border-radius: 10px;
    line-height: 70px;
    width: 100%;
    height: 70px;
    font-size: 15px;
}

.discuss-detail {
    float: left;
    line-height: 1.5;
    width: 1000px;
    margin-top: 5px;
    margin-left: 20px;
}

.discuss-main {
    font-size: 20px;
    cursor: pointer;
}

.tag-label {
    border-radius: 12px;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
    font-size: 12px;
    margin-right: 20px;
    background: #1a75ff;
    margin-bottom: 5px;
    line-height: 16px;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

.feed-foot {
    color: rgba(0, 0, 0, 1);
    margin-top: 5px;
    white-space: nowrap;
    cursor: default;
}

.feed-foot a {
    cursor: pointer;
    color: red;
}

.pcl {
    color: #38f5ff;
}

.spand {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.pic {
    top: 30px;
    width: 100%;
    height: 0;
    padding-bottom: 38.3%;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}

.content {
    width: 100000px;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.content img {
    float: left;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.index {
    position: absolute;
    left: 10px;
    bottom: 5px;
    width: 200px;
    height: 20px;
    list-style: none;
}

.index li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    background-color: rgba(100, 100, 100, 0.3);
    cursor: pointer;
}

body {
    width: 100%;
    margin: 0 auto;
}

.left {
    width: 30px;
    height: 60px;
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    left: 0px;
    top: 200px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    display: none;
    cursor: pointer;
}

.right {
    width: 30px;
    height: 60px;
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    right: 0px;
    top: 200px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    display: none;
    cursor: pointer;
}

.index .show {
    background-color: red;
}

.course {
    position: relative;
    float: left;
    width: 100%;
    top: 20px;
}

.csli {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    height: 0;
    padding-bottom: 20%;
    width: 23%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.cspic {
    float: left;
    width: 100%;
    height: auto;
}

.cspic img {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    top: 0px;
}

.donghua {
    position: absolute;
    padding: 0 5%;
    transition: top .5s;
    top: 65%;
    height: 65%;
    width: 100%;
}

.csli:hover .donghua {
    position: absolute;
    padding: 0 5%;
    transition: top .5s;
    top: 40%;
    height: 65%;
    width: 100%;
}

.backpic {
    background-image: url(../res/bg-course.png);
    background-size: 100% 100%;
    -moz-background-size: 14% 100%;
    background-repeat: no-repeat;
}

.hidefont {
    font-size: 12px;
    line-height: 16px;
    padding-top: 5%;
    height: 36%;
    color: gray;
    position: relative;
}

.border_shadow {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.border_shadow:hover {
    -webkit-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
}

.csfoot {
    width: 100%;
    float: left;
    padding-bottom: 18%;
    padding-left: 5%;
    padding-right: 5%;
    height: 0;
    font-size: 12px;
    line-height: 60px;
    z-index: 3;
    position: relative;
    margin-top: 13%;
    background-color: white;
    cursor: default;
}

.cstitle {
    width: 100%;
    text-align: center;
    height: 18%;
    padding: 2% 0;
    font-size: 16px;
}

.headpic {
    border-radius: 50%;
    display: block;
    float: left;
    margin: 0px;
    overflow: hidden;
    width: 18%;
    height: auto;
}

.headpic img {
    width: 100%;
    margin-top: -13px;
    padding: 0px;
}

.csfoot span {
    line-height: 25px;
}

.tcname {
    line-height: 25px;
    font-size: 1.5em;
}
.csfoot_r {
    line-height: 25px;
    margin-top: 10px;
}

.csfoot_r img {
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

.cstop {
    opacity: 0.8;
    height: 10%;
    min-height: 60px;
    margin: 3% 0;
    float: left;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    border-radius: 20px;
}

.cstop p {
    font-family: serif;
    float: left;
    height: 60px;
    line-height: 60px;
    margin: auto 0 auto 20px;
    font-size: 20px;
    font-weight: bolder;
    cursor: default;
}

.cstop a {
    font-family: serif;
    float: right;
    height: 60px;
    line-height: 60px;
    margin: auto 20px auto 0;
    font-size: 20px;
    font-weight: bolder;
    cursor: default;
}

.tair {
    bottom: 100px;
    position: relative;
    margin-bottom: 100px;
}



