#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #009 0%, #1E9FFF 100%);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.filter {
    background: #009;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;
    z-index: -2;
}

@keyframes colorChange {
    0%, 100% {
        opacity: .2;
    }
    50% {
        opacity: .7;
    }
}

body {
    text-align: center;
}

.newCourse-body {
    margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: left;
    padding: 50px;
    margin-bottom: 50px;
}

.choice-video {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.pre-video-list {
    margin-top: 30px;
    width: 400px;
    height: 300px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 30px;
}

.one-video {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 5px;
}

.one-video:hover {
    background: rgba(255, 255, 255, 0.8);
}

.one-video-left {
    width: 85%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.one-video-right {
    width: 15%;
    height: 30px;
    display: flex;
}

.status {
    color: #286090;
}

.course-builder {
    margin-top: 30px;
    width: 1100px;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.top {
    width: 100%;
    height: 500px;
    display: flex;
}

.top-left {
    width: 45%;
    display: unset;
}

.top-right {
    width: 55%;
}

.course-img {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.course-title {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    background: rgba(255, 255, 255, 0.3);
}

.course-introduction {
    margin-top: 20px;
    width: 500px;
    height: 256px;
    background: rgba(255, 255, 255, 0.3);
}

.chapter-builder {
    width: 100%;
    height: auto;
    min-height: 100px;
}

.chapter-builder-bottom {
    margin-top: 20px;
}

.one-chapter {
    width: 80%;
    height: auto;
    min-height: 100px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chapter-input {
    width: 400px;
    height: 40px;
    margin-left: 20px;

    background: rgba(255, 255, 255, 0.4);
}

.video-selecter {
    width: 400px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.4);
}


.ensureNewCourse {
    margin-top: 30px;
    margin-bottom: 40px;
}


