.page ul {
    list-style: none;
    padding-left: 0;
}

.page ul li {
    padding: 5px 20px;
    vertical-align: top;
    display: inline-block;
    font-size: 18px;
    min-width: 36px;
    min-height: 40px;
    line-height: 28px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    color: #606266;
    border-radius: 6px;
    margin: 0 5px;
    border: 1px solid #ebebeb;
    height: 30px;
}

.page ul li:hover {
    transform: scale(1.1);
    background-color: #F4F6F8;
}

.page li.active {
    background: #17a2b8;
    color: white;
    cursor: default;
}

.page li.disabled {
    cursor: default;
}

.page li.totalPage {
    background: transparent;
    cursor: default;
    border: none;
    padding: 5px 6px;
}

.page li.totalPage:hover {
    transform: none;
    background-color: transparent;
}


.page li input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    outline: none;
    padding: 3px 5px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 40px;
    height: 28px;
    margin: 0 6px;
}

.page li input:focus {
    border-color: #98A6AD;
}

.page {
    user-select: none;
    margin-bottom: 40px;
    text-align: center;
}

.page ul:nth-child(2) {
    border-radius: 6px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.container {
    width: 1000px;
}

.commentbox {
    width: 900px;
    margin: 20px auto;
}


.mytextarea {
    width: 100%;
    overflow: auto;
    word-break: break-all;
    height: 100px;
    color: #000;
    font-size: 1em;
    resize: none;
}

.comment-list {
    width: 900px;
    margin: 20px auto;
    clear: both;
    padding-top: 20px;
}

.comment-list .comment-info {
    position: relative;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.comment-list .comment-info header {
    width: 10%;
    position: absolute;
}

.comment-list .comment-info header img {
    width: 80%;
    border-radius: 50%;
    padding: 5px;
}

.comment-list .comment-info .comment-right {
    padding: 5px 0px 5px 11%;
}

.comment-list .comment-info .comment-right h3 {
    margin: 5px 0px;
    font-size: 20px;
}

.comment-list .comment-info .comment-right .comment-content-header {
    height: 25px;
}

.comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span {
    padding-right: 2em;
    color: black;
}

.comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span.reply-btn, .send, .reply-list-btn {
    cursor: pointer;
}

.comment-list .comment-info .comment-right .reply-list {
    border-left: 3px solid #ccc;
    padding-left: 7px;
}

.comment-list .comment-info .comment-right .reply-list .reply {
    border-bottom: 1px dashed #ccc;
}

.comment-list .comment-info .comment-right .reply-list .reply div span {
    padding-left: 10px;
}

.comment-list .comment-info .comment-right .reply-list .reply p span {
    padding-right: 2em;
    color: black;
}

.star-btn, .del-btn {
    cursor: pointer;
    margin-right: 10px;
}