div.pagediv {
    text-align: center;
    color: #999999;
    padding: 20px 20px 40px 0;
}

div.pagediv a {
    text-decoration: none;

}

div.pagediv span, div.pagediv a {
    display: inline-block;
    box-sizing: border-box;
}

.current {
    color: #ffffff;
    background: #17a2b8;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
}

.Pagenum {
    color: #666;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    border-radius: 3px;
}

.nextpage {

    margin: 0 5px;
}

.nextbtn, .prebtn, span.disabled {
    color: #666;
    background: #fff;
    width: 88px;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
}

.input {
    width: 50px;
    height: 42px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    margin: 0 12px;
    border-radius: 3px;
    color: #666;
}

.okbtn {
    width: 48px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #E6E6E6;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.container {
    width: 1000px;
}

.commentbox {
    width: 900px;
    margin: 20px auto;
}


.mytextarea {
    width: 100%;
    overflow: auto;
    word-break: break-all;
    height: 100px;
    color: #000;
    font-size: 1em;
    resize: none;
}

.comment-list {
    width: 900px;
    margin: 20px auto;
    clear: both;
    padding-top: 20px;
}

.comment-list .comment-info {
    position: relative;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.comment-list .comment-info header {
    width: 10%;
    position: absolute;
}

.comment-list .comment-info header img {
    width: 80%;
    border-radius: 50%;
    padding: 5px;
}

.comment-list .comment-info .comment-right {
    padding: 5px 0px 5px 11%;
}

.comment-list .comment-info .comment-right h3 {
    margin: 5px 0px;
    font-size: 20px;
}

.comment-list .comment-info .comment-right .comment-content-header {
    height: 25px;
}

.comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span {
    padding-right: 2em;
    color: black;
}

.comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span.reply-btn, .send, .reply-list-btn {
    cursor: pointer;
}

.comment-list .comment-info .comment-right .reply-list {
    border-left: 3px solid #ccc;
    padding-left: 7px;
}

.comment-list .comment-info .comment-right .reply-list .reply {
    border-bottom: 1px dashed #ccc;
}

.comment-list .comment-info .comment-right .reply-list .reply div span {
    padding-left: 10px;
}

.comment-list .comment-info .comment-right .reply-list .reply p span {
    padding-right: 2em;
    color: black;
}

.star-btn, .del-btn {
    cursor: pointer;
    margin-right: 10px;
}

