<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nebula.mooc.webserver.dao.CourseDao">

    <resultMap id="CourseMap" type="Course">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="userId" column="USER_ID" jdbcType="BIGINT"/>
        <result property="kindName" column="KIND_NAME" jdbcType="VARCHAR"/>
        <result property="title" column="TITLE" jdbcType="VARCHAR"/>
        <result property="introduction" column="INTRODUCTION" jdbcType="VARCHAR"/>
        <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
        <result property="like" column="COURSE_LIKE" jdbcType="INTEGER"/>
        <result property="star" column="COURSE_STAR" jdbcType="INTEGER"/>
        <result property="courseHeadUrl" column="COURSE_HEAD_URL" jdbcType="VARCHAR"/>
        <result property="userNickName" column="USER_NICKNAME" jdbcType="VARCHAR"/>
        <result property="userHeadUrl" column="USER_HEAD_URL" jdbcType="VARCHAR"/>
        <result property="ifLike" column="IF_LIKE" jdbcType="BOOLEAN"/>
        <result property="ifStar" column="IF_STAR" jdbcType="BOOLEAN"/>
    </resultMap>

    <resultMap id="CourseChapterMap" type="CourseChapter">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="courseId" column="COURSE_ID" jdbcType="BIGINT"/>
        <result property="title" column="TITLE" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="CourseSectionMap" type="CourseSection">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="chapterId" column="CHAPTER_ID" jdbcType="BIGINT"/>
        <result property="title" column="TITLE" jdbcType="VARCHAR"/>
        <result property="introduction" column="INTRODUCTION" jdbcType="VARCHAR"/>
        <result property="videoUrl" column="VIDEO_URL" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="CourseCommentMap" type="CourseComment">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="userId" column="USER_ID" jdbcType="BIGINT"/>
        <result property="courseId" column="COURSE_ID" jdbcType="BIGINT"/>
        <result property="content" column="CONTENT" jdbcType="VARCHAR"/>
        <result property="star" column="STAR" jdbcType="INTEGER"/>
        <result property="userNickName" column="USER_NICKNAME" jdbcType="VARCHAR"/>
        <result property="userHeadUrl" column="USER_HEAD_URL" jdbcType="VARCHAR"/>
        <result property="ifStar" column="IF_STAR" jdbcType="BOOLEAN"/>
        <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="CourseSectionCommentMap" type="CourseSectionComment">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="userId" column="USER_ID" jdbcType="BIGINT"/>
        <result property="sectionId" column="SECTION_ID" jdbcType="BIGINT"/>
        <result property="content" column="CONTENT" jdbcType="VARCHAR"/>
        <result property="star" column="STAR" jdbcType="INTEGER"/>
        <result property="userNickName" column="USER_NICKNAME" jdbcType="VARCHAR"/>
        <result property="userHeadUrl" column="USER_HEAD_URL" jdbcType="VARCHAR"/>
        <result property="ifStar" column="IF_STAR" jdbcType="BOOLEAN"/>
        <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="CourseSectionCommentReplyMap" type="CourseSectionCommentReply">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="commentId" column="COMMENT_ID" jdbcType="BIGINT"/>
        <result property="fromId" column="FROM_ID" jdbcType="BIGINT"/>
        <result property="toId" column="TO_ID" jdbcType="BIGINT"/>
        <result property="content" column="CONTENT" jdbcType="VARCHAR"/>
        <result property="fromUserNickName" column="FROM_USER_NICKNAME" jdbcType="VARCHAR"/>
        <result property="fromUserHeadUrl" column="FROM_USER_HEAD_URL" jdbcType="VARCHAR"/>
        <result property="toUserNickName" column="TO_USER_NICKNAME" jdbcType="VARCHAR"/>
        <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getCourseTotal" resultType="int">
        select NUM
        from number
        where TYPE = 2
          and KIND_NAME = #{kindName}
    </select>

    <select id="getCourseList" resultMap="CourseMap">
        SELECT
        course.ID,
        course.KIND_NAME,
        course.TITLE,
        course.INTRODUCTION,
        course.CREATED_TIME,
        course.COURSE_LIKE,
        course.COURSE_STAR,
        course.COURSE_HEAD_URL,
        user.ID USER_ID,
        user.NICKNAME USER_NICKNAME,
        user.HEAD_URL USER_HEAD_URL
        FROM (
        SELECT course.ID ID,
        course.KIND_NAME KIND_NAME,
        course.TITLE TITLE,
        course.INTRODUCTION
        INTRODUCTION,
        course.CREATED_TIME CREATED_TIME,
        course.LIKE COURSE_LIKE,
        course.STAR COURSE_STAR,
        course.HEAD_URL COURSE_HEAD_URL,
        course.USER_ID
        FROM course
        WHERE course.ID &lt;= (SELECT ID
        FROM course
        <if test="kindName != 'TOTAL'">
            where KIND_NAME = #{kindName}
        </if>
        ORDER BY ID DESC
        limit #{offset},1)
        <if test="kindName != 'TOTAL'">
            and KIND_NAME = #{kindName}
        </if>
        ORDER BY ID DESC
        LIMIT 10) course
        inner JOIN user ON course.USER_ID = user.ID
    </select>

    <select id="getCourse" resultMap="CourseMap">
        select course.ID,
               course.KIND_NAME,
               course.TITLE,
               course.INTRODUCTION,
               course.CREATED_TIME,
               course.LIKE                       COURSE_LIKE,
               course.STAR                       COURSE_STAR,
               course.HEAD_URL                   COURSE_HEAD_URL,
               user.ID                           USER_ID,
               user.NICKNAME                     USER_NICKNAME,
               user.HEAD_URL                     USER_HEAD_URL,
               !isnull(course_like.CREATED_TIME) IF_LIKE,
               !isnull(course_star.CREATED_TIME) IF_STAR
        from course
                 inner join user on course.USER_ID = user.ID
                 left join course_like on course_like.USER_ID = #{userId}
            and course_like.COURSE_ID = course.ID
                 left join course_star on course_star.USER_ID = #{userId}
            and course_star.COURSE_ID = course.ID
        where course.ID = #{courseId}
        limit 1
    </select>

    <select id="getCourseChapterList" resultMap="CourseChapterMap">
        select ID, COURSE_ID, TITLE
        from course_chapter
        where COURSE_ID = #{courseId}
        order by ID
    </select>

    <select id="getCourseSectionList" resultMap="CourseSectionMap">
        select course_section.ID,
               course_section.CHAPTER_ID,
               course_section.TITLE
        from course_section
        where CHAPTER_ID = #{chapterId}
        order by ID
    </select>

    <select id="getCourseCommentTotal" resultType="int">
        select count(1)
        from course_comment
        where COURSE_ID = #{courseId}
    </select>

    <select id="getCourseCommentList" resultMap="CourseCommentMap">
        select course_comment.ID,
               course_comment.COURSE_ID,
               course_comment.CONTENT,
               course_comment.STAR,
               course_comment.CREATED_TIME,
               user.ID                                   USER_ID,
               user.NICKNAME                             USER_NICKNAME,
               user.HEAD_URL                             USER_HEAD_URL,
               !isnull(course_comment_star.CREATED_TIME) IF_STAR
        from course_comment
                 inner join user on course_comment.USER_ID = user.ID
                 left join course_comment_star on course_comment_star.USER_ID = #{userId}
            and course_comment_star.COMMENT_ID = course_comment.ID
        where course_comment.ID >= (select ID
                                    from course_comment
                                    where course_comment.COURSE_ID = #{courseId}
                                    order by ID
                                    limit #{offset},1)
          and course_comment.COURSE_ID = #{courseId}
        order by ID
        limit #{pageSize}
    </select>

    <select id="getCourseSection" resultMap="CourseSectionMap">
        select course_section.ID,
               course_section.CHAPTER_ID,
               course_section.TITLE,
               course_section.INTRODUCTION,
               course_section.VIDEO_URL
        from course_section
        where course_section.ID = #{sectionId}
    </select>

    <select id="getCourseSectionCommentTotal" resultType="int">
        select count(1)
        from course_section_comment
        where SECTION_ID = #{sectionId}
    </select>

    <select id="getCourseSectionCommentList" resultMap="CourseSectionCommentMap">
        select course_section_comment.ID,
               course_section_comment.SECTION_ID,
               course_section_comment.CONTENT,
               course_section_comment.STAR,
               course_section_comment.CREATED_TIME,
               user.ID                                           USER_ID,
               user.NICKNAME                                     USER_NICKNAME,
               user.HEAD_URL                                     USER_HEAD_URL,
               !isnull(course_section_comment_star.CREATED_TIME) IF_STAR
        from course_section_comment
                 inner join user on course_section_comment.USER_ID = user.ID
                 left join course_section_comment_star on course_section_comment_star.USER_ID = #{userId}
            and course_section_comment_star.COMMENT_ID = course_section_comment.ID
        where course_section_comment.ID >= (select ID
                                            from course_section_comment
                                            where course_section_comment.SECTION_ID = #{sectionId}
                                            order by ID
                                            limit #{offset},1)
          and course_section_comment.SECTION_ID = #{sectionId}
        order by ID
        limit #{pageSize}
    </select>

    <select id="getCourseSectionCommentReplyList" resultMap="CourseSectionCommentReplyMap">
        select course_section_comment_reply.ID,
               course_section_comment_reply.COMMENT_ID,
               course_section_comment_reply.CONTENT,
               course_section_comment_reply.FROM_ID,
               course_section_comment_reply.TO_ID,
               course_section_comment_reply.CREATED_TIME,
               user1.NICKNAME FROM_USER_NICKNAME,
               user1.HEAD_URL FROM_USER_HEAD_URL,
               user2.NICKNAME TO_USER_NICKNAME
        from course_section_comment_reply
                 inner join user user1 on course_section_comment_reply.FROM_ID = user1.ID
                 inner join user user2 on course_section_comment_reply.TO_ID = user2.ID
        where course_section_comment_reply.COMMENT_ID = #{commentId}
    </select>

    <select id="getLastInsertId" resultType="long">
        SELECT LAST_INSERT_ID();
    </select>


    <insert id="newCourse" parameterType="Course">
        insert into course (USER_ID, KIND_NAME, TITLE, INTRODUCTION, HEAD_URL)
        values (#{userId}, #{kindName}, #{title}, #{introduction}, #{headUrl})
    </insert>

    <insert id="newCourseChapter" parameterType="CourseChapter">
        insert into course_chapter (COURSE_ID, TITLE)
        values (#{courseId}, #{title})
    </insert>

    <insert id="newCourseSection" parameterType="CourseSection">
        insert into course_section (CHAPTER_ID, TITLE, INTRODUCTION, VIDEO_URL)
        values (#{chapterId}, #{title}, #{introduction}, #{videoUrl})
    </insert>

    <update id="updateCourse" parameterType="Course">
        update course
        set KIND_NAME    = #{kindName},
            TITLE        = #{title},
            INTRODUCTION = #{introduction},
            HEAD_URL     = #{headUrl}
        where ID = #{id}
          and USER_ID = #{userId}
    </update>

    <update id="updateCourseChapter" parameterType="CourseChapter">
        update course_chapter
        set TITLE = #{title}
        where ID = #{id}
          and COURSE_ID = #{courseId}
    </update>

    <update id="updateCourseSection" parameterType="CourseSection">
        update course_section
        set TITLE        = #{title},
            INTRODUCTION = #{introduction},
            VIDEO_URL    = #{videoUrl}
        where ID = #{id}
          and CHAPTER_ID = #{courseId}
    </update>

</mapper>