<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nebula.mooc.webserver.dao.PostDao">
    <insert id="newPost" parameterType="Post">
        insert into post (USER_ID, KIND_NAME, TITLE, CONTENT)
        values (#{userId}, #{kindName}, #{title}, #{content})
    </insert>
</mapper>