<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "address://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nebula.mooc.webserver.dao.UserInfoDao">
    <resultMap id="UserInfoMap" type="UserInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="mail" column="EMAIL" jdbcType="VARCHAR"/>
        <result property="nickName" column="NICKNAME" jdbcType="VARCHAR"/>
        <result property="headUrl" column="HEAD_URL" jdbcType="VARCHAR"/>
        <result property="sex" column="SEX" jdbcType="INTEGER"/>
        <result property="age" column="AGE" jdbcType="INTEGER"/>
    </resultMap>


    <select id="getUserInfo" resultMap="UserInfoMap" parameterType="UserInfo">
        select ID, NICKNAME, HEAD_URL,EMAIL,SEX,AGE from user
        where ID=#{id}
        limit 1
    </select>

</mapper>